<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>assets</key>
			<array>
				<dict>
					<key>kind</key>
					<string>software-package</string>
					<key>url</key>
					<string>https://cos.pgyer.com/a9ff4a7beaadf7e74fa0f21e3346d971.ipa?sign=7c20cb8aa2e8601745e7e703dbbe43eb&t=1669605428&response-content-disposition=attachment%3Bfilename%3D%E6%96%B9%E6%AD%A3%E5%AA%92%E4%BD%93%E4%BA%91_3.2.6.ipa</string>
				</dict>
				<dict>
					<key>kind</key>
					<string>full-size-image</string>
					<key>needs-shine</key>
					<true/>
					<key>url</key>
					<string>http://172.19.203.172:8082/build_apps/xiangyu/xiangyuceshi/images/icon.png</string>
				</dict>
				<dict>
					<key>kind</key>
					<string>display-image</string>
					<key>needs-shine</key>
					<true/>
					<key>url</key>
					<string>http://172.19.203.172:8082/build_apps/xiangyu/xiangyuceshi/images/icon.png</string>
				</dict>
			</array>
			<key>metadata</key>
			<dict>
				<key>title</key>
				<string>方正媒体云</string>
				<key>bundle-version</key>
				<string>3.2.6</string>
				<key>kind</key>
				<string>software</string>
				<key>bundle-identifier</key>
				<string>com.founder.mediacloud</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
