<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>assets</key>
			<array>
				<dict>
					<key>kind</key>
					<string>software-package</string>
					<key>url</key>
					<string>https://cos.pgyer.com/ce4006046f8c6050f2a621088eee28b5.ipa?sign=d61db58dd2ae43a7566a9f29fcb483c2&t=1668754845&response-content-disposition=attachment%3Bfilename%3D%E4%BA%91%E9%9B%80_3.2.8.ipa</string>
				</dict>
				<dict>
					<key>kind</key>
					<string>full-size-image</string>
					<key>needs-shine</key>
					<true/>
					<key>url</key>
					<string>http://172.19.203.172:8082/build_apps/xiangyu/xiangyuceshi/images/icon.png</string>
				</dict>
				<dict>
					<key>kind</key>
					<string>display-image</string>
					<key>needs-shine</key>
					<true/>
					<key>url</key>
					<string>http://172.19.203.172:8082/build_apps/xiangyu/xiangyuceshi/images/icon.png</string>
				</dict>
			</array>
			<key>metadata</key>
			<dict>
				<key>title</key>
				<string>智慧</string>
				<key>bundle-version</key>
				<string>3.2.5</string>
				<key>kind</key>
				<string>software</string>
				<key>bundle-identifier</key>
				<string>com.founder.xiahexian</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
